# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# "dev": "vite",
#     "build:vite": "vite build",
#     "lint": "eslint . --ext js,jsx --report-unused-disable-directives --max-warnings 0",
#     "preview": "vite preview",
#     "predeploy": "npm run build",
#     "start": "react-scripts start",
#     "build": "react-scripts build",
#     "test": "react-scripts test",
#     "eject": "react-scripts eject",
#     "deploy": "gh-pages -b main -d build"